
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.portfolio-title {
  font-size: 24px;
  color: white;
}

.nav-links {
  display: flex;
  margin-right: 50px;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 25px;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
}

/* Responsive dropdown menu */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #282c34;
    text-align: center;
    z-index: 1000;
    transition: max-height 0.5s ease-in;
    overflow: hidden;
  }

  .nav-links.active {
    display: block;
    max-height: 400px;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links ul li {
    margin: 10px 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
  }

  .nav-links.active ul li:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
  }

  .nav-links.active ul li:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
  }

  .nav-links.active ul li:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
  }

  .nav-links.active ul li:nth-child(4) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
  }

  .nav-links.active ul li:nth-child(5) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
  }

  .hamburger {
    display: block;
  }
}
